<div>
	<img class="main-img" src="https://cf.geekdo-images.com/MMO_xEXZyxJsGwxGSdeLgNvwKNA=/fit-in/1200x630/pic3524139.png" >
</div>
<div >
	<span class="links"><%= link_to "Characters", controller: "characters" %></span>
	<span class="links"><%= link_to "Careers", controller: "careers" %></span>
	<span class="links"><%= link_to "Specializations", controller: "specializations" %></span>
	<span class="links"><%= link_to "Campaigns", controller: "campaigns" %></span>
</div>
