// Place all the styles related to the careers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// A94D2C


.card {
	width: 20rem;
}

.careers-col {
	padding-bottom: 20px;
}

.careers-header {
	color: #C09448;
	font-family: 'Poller One', cursive;
	padding-top: 20px;
}

.careers-row {
	padding-top: 20px;
}

.container-fluid.careers-section {
 padding: 30px 0;
}

.img-size {
	width: 20%;
	float: right-top;
	position: relative;
	left: 400px;
}

.skill-list {
	list-style-type: none;
	position: relative;
	right: 40px;
}

.space_between_image {
	padding-left: 60px;
}