// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
	padding-top: 20px;
}
.char-col {
	padding-bottom: 20px;
}

.char-header {
	color: #C09448;
	padding-top: 20px;
}

.space {
	padding-left: 60px;
}