.characters-row {
	padding-top: 20px;
}

.container-fluid.characters-section {
 padding: 30px 0;
}

.characters-col {
	padding-bottom: 20px;
}

.characters-header {
	color: #C09448;
	font-family: 'Poller One', cursive;
	padding-top: 20px;
}

.space_between_image {
	padding-left: 60px;
}

.card {
	width: 20rem;
}

