img.main-img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.links {
    color: #C09448;
	display: inline-block;
	font-family: 'Poller One', cursive;
    margin-left: 80px;
    margin-right: 80px;
	padding-top: 30px;
	
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}