a {
  color: #A486B6;
}

a:hover {
  color: #532E69;
}

.container_signin {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
  background-color: #FFF;
  border: 1px solid #E5E5E5;
  margin: 30px auto 20px;
  max-width: 300px;
  padding: 30px 29px 29px;
}

.container_signin .form-signin-heading,
.container_signin .checkbox {
  margin-bottom: 10px;
}