<ul class="navbar-nav mr-auto">
  
</ul>

<span class="nav-item">
	<%= link_to "Log in", new_user_session_path, class: 'nav-link' %>
</span>

<span class="nav-item">
<%= link_to "Sign up", new_user_registration_path, class: 'nav-link' %>
</span>