<div class="container">
  <h1 class="text-center">Create New Campaign</h1>
  <%= form_for @campaign do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.submit "Create", :class => "btn access_button"  %>
  <% end %>
</div>

